rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return request.auth.token.admin == true;
    }

    function hasLinks(text) {
      return text.matches('(?i)(http|https|www|\\.com|\\.net|\\.org|\\.io|\\.gov|\\.edu|mailto:)');
    }

    function isValidMessage(data) {
        return
        data.uid == request.auth.uid &&
        data.text is string &&
        data.text.size() <= 2500 &&
        !hasLinks(data.text) &&
        data.displayName is string &&
        data.timestamp is timestamp &&
        data.level is string;
    }

    match /messages/{messageId} {
      allow read: if request.auth != null;
      allow create: if isSignedIn() && isValidMessage(request.resource.data);
      allow update, delete: if isAdmin();
    }

    match /users/{userId} {
      allow read, write: if isSignedIn() && request.auth.uid == userId;
    }

    match /yogaCalendar/{document} {
      allow read, write: if false;
    }

    match /mjblog/{document} {
      allow read, write: if false;
    }
    match /storageLinks/{document} {
      allow read, write: if false;
    }
    match /todo_collection/{document} {
      allow read, write: if false;
    }
    match /utmblog/{document=**} {
    	allow read: if true;
      allow write: if false;
    }


    match /youtubechannel/{document=**} {
    	allow read: if true;
      allow write: if false;
    }
    match /{document=**} {
      allow read, write: if isAdmin();
    }
  }
}
