.home-changer
    position: fixed
    top: 35px
    display: flex
    z-index: 1
    align-items: center
    padding-block: 8px 4px
    font-size: 22px
    width: 100vw
.technomancy
    max-width: 45em
    padding: 1em 2em
    display: flex
    flex-direction: column
    margin: 4em auto
    box-shadow: 1px 1px teal, -1px -1px teal
    font-size-adjust: 0.7
    ul
        line-height: 3em
        li
            list-style: none
    a
        target: _blank
        display: inline
.adam-med
    margin: auto
    border-radius: 0.2em
    max-height: 40vh
    opacity: 1
    max-width: 100%
.time-link
    text-decoration: none
.pitch-container
    audio
        max-width: 80vw
