.sidebar
	position: fixed
	z-index: 1
	padding: .5em .5em 6em .5em
	transition: .3s ease
.sidebar:has(.rotate-180)
	padding: 0
.sidebar:not(.sidebar:has(.rotate-180))
	border-right: 2px solid #2c3e50
.collapse-icon
	color: #92099e
	transition: .2s linear
	z-index: 540
	min-width: 100px
.rotate-180
	transform: rotate(180deg)
	transition: .2s linear
.topnav
	background-image: url(@/assets/img/keys.jpg)
	background-repeat: repeat-x
	background-position: bottom
	background-size: contain
	max-height: 100vh
	padding-inline: 1em
	.christmas-icon
		font-size: 1.6rem
		display: flex
	.navItem
		font-size: 1.4em
		border-radius: 10px
		white-space: nowrap
		cursor: pointer
		list-style-type: none
		justify-content: center
.sidebar-link
	display: flex
	align-items: center
	cursor: pointer
	position: relative
	font-weight: 400
	user-select: none
	margin: 0.1em 0
	padding: 0.4em
	border-radius: 0.25em
	height: 1.5em
	color: white
	text-decoration: none
