@use "sass:color"
@use "sass:map"
@use "@/assets/css/vars" as *
@use "@/assets/css/utility"

.admin
    background: linear-gradient(217deg, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%)


$habit-colors: (
    "struggles": #260436,
    "flowers": #ffb6c1,
    "elders": #efefef,
    "vivid": #cc4b67,
    "peace": #2563eb,
    "harvests": #cd853f,
    "hallows": $dark-green,
    "feasts": #101010,
)


@mixin style-icons($name, $color)
    $icon-color: color.scale($color, $saturation: -30%, $lightness: -10%)
    $lightness: color.channel($color, "lightness", $space: hsl)
    $bg-color: if(
        $lightness > 60%,
        color.scale($icon-color, $lightness: -45%, $saturation: -80%),
        color.scale($icon-color, $lightness: 45%, $saturation: -80%)
    )  
    ##{$name}
        color: $icon-color
        background-color: $bg-color
        border: 1px solid rgba(0,0,0,0.1)


@each $h, $c in $habit-colors
    @include style-icons("#{$h}-theme", $c)

$theme-image-props: (
    struggles: (hue: 10deg, saturate: 180%, brightness: 100%),
    flowers: (hue: 33deg, saturate: 169%, brightness: 120%),
    elders: (hue: 140deg, saturate: 58%, brightness: 120%),
    vivid: (hue: 113deg, saturate: 71%, brightness: 120%),
    peace: (hue: 10deg, saturate: 30%, brightness: 120%),
    harvests: (hue: 150deg, saturate: 40%, brightness: 200%),
    hallows: (hue: 200deg, saturate: 70%, brightness: 120%),
    feasts: (hue: 330deg, saturate: 100%, brightness: 170%),
)

@mixin color-filter($hue: 0deg, $saturate: 100%, $brightness: 100%)
    filter: hue-rotate($hue) saturate($saturate) brightness($brightness)


@mixin unThemeMe($theme-name, $icon, $safe-text, $bg-color, $color, $mod-bg, $sidebar-bg, $smooth-bg, $vid-div, $loud, $contrast, $hooks)
    #appWrapper.#{""+$theme-name}
        $box-shadow: 2px 2px $icon, -2px -2px $contrast

        background-color: $bg-color
        color: $color
        a
            color: $safe-text

        .theme-image
            $props: map.get($theme-image-props, $theme-name)
            $hue: map.get($props, hue)
            $saturate: if(map.has-key($props, saturate), map.get($props, saturate), 100%)
            $brightness: if(map.has-key($props, brightness), map.get($props, brightness), 100%)
            @include color-filter($hue, $saturate, $brightness)

        #loading
            filter: invert(1)
            background-color: $bg-color

        // SIDEBAR
        .christmas-icon
            color: rgb(49, 232, 51)
        .navItem
            box-shadow: 0 0 5px $contrast
            border: solid 1px white
        .nav-item-dark
            box-shadow: 0 0 40px $color
        a:hover, router-link:hover
            color: $loud

        .social-grp
            background-color: $vid-div
            *
                color: $loud
            .social
                border-radius: $radius-button
                background-color: $hooks
                padding: 0.07em
                &:hover
                    background-color: color.mix($color, $loud)
            *:hover
                color: color.mix($color, $loud)

        &:has(#beacon-div)
            background-color: $smooth-bg
        #beacon-div
            background-color: $bg-color
            color: $color
            box-shadow: 0 0 10px $color

        // VIDEOS
        #video-container
            .stu-banner
                box-shadow: $box-shadow
            button
                background-color: $vid-div
                color: $color
            button:hover
                background-color: $sidebar-bg
            button.active
                background-color: $smooth-bg
            div:hover
                background-color: $mod-bg
            div
                background-color: $vid-div
                box-shadow: $box-shadow
            a
                color: $color
            a:visited
                color: $safe-text
            .member-berries
                box-shadow: $box-shadow
                // background: linear-gradient(#8f21ae, #26524f)
        .lime-green
            color: $limegreen

        // TRANSPARENT BACKGROUND 
        .collapse-icon-closed
            background-color: $smooth-bg
        #style-selector
            background-color: $sidebar-bg
            i
                border: 1px solid $mod-bg
            i:hover, .tinytext
                background-color: $mod-bg

        .activeStyle
            background-color: color.scale($icon, $lightness: -30%)

        .sidebar-wrapper
            background-color: $sidebar-bg

        .pedantic
            color: color.mix($loud, #e70b0b)
            font-weight: 600

        .navigation-cards
            background-color: $safe-text

        .home-navigation-card
            background-image: linear-gradient(to bottom, $vid-div, $smooth-bg)
            border-radius: 10px
            padding: 13px
            text-align: center
            b
                color: $loud
        // crossword
        // #acrossDiv, #downDiv
        .clue-button
            box-shadow: 1px 1px 5px $hooks
        .couch
            // color: $contrast
            // color: $loud
        .buttons
            background-color: $mod-bg
            color: $color
            span
                background-color: $loud
            span:hover
                color: color.adjust($color, $lightness: +20%)
                background-color: color.adjust($loud, $lightness: -20%)
        // .crossword-body
        //     span
        //         box-shadow: 1px 1px 5px 1px $sidebar-bg
        #puzzle-clues
            background-color: $sidebar-bg
            // border: 4px solid $loud
            box-shadow: 1px 1px 5px $sidebar-bg
            span:hover
                background-color: $hooks
        .clue-button
            // color: $color
            // background-color: $mod-bg
            &:hover
                background-color: $hooks

        #puzzle-body:not(.clearme)
            color: $color
        #puzzle-body .clearme
            color: $contrast
        #puzzle td
            box-shadow: 0 0 5px $contrast
        .navItem, #puzzle-body .clearme, #puzzle td:has(.clearme)
            background-color: $smooth-bg

        .video-div
            background-color: $vid-div
            border-color: $loud
        .login-page
            background-color: $mod-bg
            box-shadow: 1px 1px 5px 1px $loud
            border-radius: 8px
            h2
                // background-color: $sidebar-bg
                color: $loud
            input
                background-color: $bg-color
                border: 1px solid $vid-div
                color: $color
                &[name="submit"]
                    border-radius: 8px
                    color: $icon
            i
                color: $bg-color
                text-shadow: -1px -2px $loud
            a, router-link
                color: $color
                padding-block: 3px
            button, .login-submit-button
                cursor: pointer
                background-color: $smooth-bg
                margin: 3em
                padding: 1rem
                margin: 1rem auto
                color: $color
                border-radius: 8px
                border: 1px solid $color
                padding: 0.6rem 1rem

        // TIME
        .time-gui-container
            background-color: color.change($color, $alpha: 10%)
        .time-widget
            background: $bg-color
            box-shadow: -5px -5px 21px rgba($loud, 0.2), 5px 5px 21px rgba($contrast, 0.2)
        .content-selector *
            box-shadow: 1px 1px 1px $color
        #content-section
            h1, h2, h3
                padding: 0 3rem 
                text-shadow: 1px 1px 10px $sidebar-bg

        .unlimited-time-logo
            border: 0.2rem solid $sidebar-bg

        .smiley
            background-image: linear-gradient(to bottom, $sidebar-bg, $icon, $sidebar-bg)
        .time-info-buttons i:hover
            color: $smooth-bg
            box-shadow: 0 0 2px $loud
        // .time-info-buttons i

        .active
            // background-color: $vid-div
            // background-color: $smooth-bg
            // background-color: $color
            stroke: $loud
            fill: $loud
            color: $hooks
        .zenwheel
            text:not(.year-markers)
                // cursor: pointer
                fill: $color
                stroke: $color
            text.active
                fill: $loud
                stroke: $loud
            .pie-chart
                fill: $mod-bg
                // stroke: $mod-bg
                // stroke-width: 10px
            .zen-cycle-arm
                stroke: $smooth-bg
            .habit-divider
                fill: $bg-color
                stroke: $smooth-bg

        // #habits
            // h2
                // box-shadow: 0 0 1px $sidebar-bg
        .holiday
            color: $loud

        .clock-hand
            stroke: $contrast
            stroke-width: 2
        .greg-dark, .greg-light, .greg-text
            stroke: $color
        .zen-borders
            stroke: $icon
            stroke: $color
            stroke: $smooth-bg
        .greg-dark
            fill: $smooth-bg
        .greg-light
            fill: $vid-div
        .greg-text
            fill: $color
        .zen-mint
            fill: $color
        .inner-rect
            fill: $loud
        .daytop-bg
            fill: $smooth-bg
        .daytop-tx
            fill: $color
            stroke: $color
        .alt-fill
            fill: $mod-bg
        .black-fill
            fill: $vid-div
        .session-before
            fill: $sidebar-bg
        .sessionActive
            fill: $loud
        .session-after
            fill: $vid-div
        .year-hand
            stroke: $contrast
        .year-clock-hand-axis
            fill: $loud

        .baheader-zen
            background-color: $mod-bg
            color: $color
        .unchunk
            color: $contrast
        .uncell
            background-color: $sidebar-bg

        .selected-date
            background-color: $mod-bg
            color: $loud
        .uncell-zen
            border: 1px solid $mod-bg
        .uncell-zen:hover
            background-color: $smooth-bg
        .zen-borders:hover
            fill: $smooth-bg
        .conversion-table
            background-color: $bg-color
            table
                color: $color
                box-shadow: 0 0 8px 1px $contrast
                .th
                    border: 1px solid $icon
                .th-blue
                    border: 1px solid $sidebar-bg
        .info-panel
            z-index: 6000
            .style-selector-buttons
                background-color: $mod-bg
                // color: red
                a:hover
                    color: green
                .active
                    color: blue

            i, .tinytext
                background-color: $mod-bg
            i:hover, .tinytext:hover
                background-color: $sidebar-bg
        // INTEGRAL
        .hilight
            color: $loud
        .home-changer-int
            a
                color: $mod-bg
                background-color: $color
                box-shadow: 2px 2px 4px $smooth-bg, -2px -2px 4px $loud
                &:hover
                    background-color: $loud

        .btn-group
            &:hover
                background-color: $sidebar-bg
            button
                // background-color: #08F
                // background-color: #101
                background-color: $smooth-bg
                color: $color
                :hover
                    background-color: $vid-div
            .darken
                // background-color: darken($smooth-bg, 30%)
                background-color: color.adjust($smooth-bg, $lightness: -30%)

        .bisque
            stroke: $icon
            fill: $mod-bg
        #arrow path
            fill: $contrast
        .year-markers
            fill: $smooth-bg
            stroke: $color
            opacity: 1

        .work-schedules
            td, th
                border: 1px solid $color
            .border-red
                border: 2px solid red
            .border-black
                border: 2px solid black
            .border-blue
                border: 2px solid dodgerblue
            .border-pink
                border: 2px solid hotpink

        // MUSIC
        #music-main
            h2, h1, .shadow-me
                color: $color
                text-shadow: 2px 1px 4px $contrast
            .testimonial
                text-shadow: 2px 1px 4px $vid-div
            .double-width
                background-color: $vid-div
                box-shadow: 1px 0 10px $icon

        .glow
            animation: glow 4s infinite alternate

        .zenwheel text.active
            animation: glow 2s infinite alternate
            @keyframes glow
                0%
                    text-shadow: 0px 0px 3px $icon, 3px 3px 6px $loud
                to
                    text-shadow: 0px 0px 4px $icon, 0px 0px 6px $loud

@include unThemeMe(struggles, $dark-purple, #9d5fa5, #000000, #cfb0ef, #1e0127,
#0e031b, #15082e, #040007, #92099e, #6f8d7d, #4a6cb6)
@include unThemeMe(flowers, #ffe6f2, #4a0e2a, #c9b8bd, #46071a, #cf83b3,
#885988, #ff69b4, #db7093, #800080, #dda0dd, #e6ca7e)
@include unThemeMe(elders, $medium-thalmon, #945f5f, #333, rgb(249, 194, 159),
#1b0c10, #555, #2f1b14, #444, $medium-thalmon, #704433, #ff5050)
@include unThemeMe(vivid, $peace, #9e2b2b, #e4e6d6, rgb(6, 1, 17), #ac91a3,
#e4cbc4, #a1a2af, #b8cce6, #db8896, #00e1ff, #fa0303)
@include unThemeMe(peace, $light-black, #084955, #faf0f0, #012121, #9981a8,
#d2b2e0, #dad0d0, #797171, rgb(52, 42, 187), #022326, #666)
@include unThemeMe(harvests, #daa520, #ece6cc, #b5a59f, #14140f, #947422,
#8b5e3c, #cd853f, #7b7670, #e9d949, #deb887, #ff4500)
@include unThemeMe(hallows, $dark-green, #87cc9b, #161616, #68f78e, #100a14,
#0a270a, rgb(0, 0, 0), #070708, #2f855a, rgb(31, 237, 55), #298372)
@include unThemeMe(feasts, #cee0e2, #1c3d5a, #e2eeec, #4d1b13, #2874a6,
#335681, #3498db, #2e86c1, #7ab7be, #aed6f1, #a3e3ee)
// $icon, $safe-text, $bg-color, $color, $mod-bg, $sidebar-bg, $smooth-bg, $vid-div, $loudm $contrast, $hooks
