// OG Main
$midnight: #101
$midnight-cream: #313
$midnight-deluxe: #323
$midnight-light: #FDC
$safe-light: #DFD
$safe-dark: #101
$primary-light: #7FA
$primary: #4F7
$primary-dark: #194
$secondary-light: #D9F
$secondary: #A5D
$secondary-dark: #204
$contrast-light: #F84
$contrast: #C40
$contrast-dark: #810
$purple: rgb(49, 14, 122)
$dark-purple: rgb(52, 4, 89)
$darker-purple: rgb(35, 6, 51)
$admin-blues: rgba(20, 30, 200, 0.5)
$dark-purple-icon: #92099e
$forest-green-icon: #2f855a
$mid-gray-icon: #5a5a5a
$social-grp-color: #dad0d0
$active: #37cefc

// from zenTime
$primary-dark: #192
$primary: #4F7
$stein-green: #4f4
$slime-green: #3f3
$stein-lightgreen: #9f9
$primary-light: #AFA
$safe-light: #DFD
$stein-lumenwhite: #d0fff1
$teal: rgb(56, 107, 221)
$light-teal: #4fa
$stein-blue: #2800ff
$greg-dark: rgb(29, 34, 154)
$greg-light: rgb(56, 107, 221)
$midnight: #000202
$midnight-cream: #101
$midnight-deluxe: #323
$midnight-light: #FDC
$secondary-dark: #204
$contrast-light: #F84
$contrast: #C40
$contrast-dark: #810
$secondary-light: #D9F
$secondary: #A5D
$stein-magenta: rgb(105, 92, 233)
$stein-lightpurple: rgb(71, 53, 240)
$stein-lilac: rgba(106, 73, 155, 1)
$medium-orchid: rgb(70, 34, 153)
$stein-purple: rgb(49, 14, 132)
$stein-dark-purple: rgb(42, 4, 109)
$darker-purple: rgb(25, 0, 51)
$hot-purple: rgb(131, 33, 255)
$box-midnight-cream: 0 0 0 1px $midnight-cream
$box-midnight-light: 0 0 0 1px $midnight-light

// THEME
$mygreen: #31e833
$dark-purple: #92099e
$dark-green: #2f855a
$light-black: #5a5a5a
$medium-thalmon: rgb(245, 120, 89)
$peace: #115f83
$pink-light: #e75480
$button-text: #FDC
$button-back: rgb(40, 16, 80)
$button-active: rgb(135 19 175)
$button-hover: rgb(149 13 135 / 62%)
$a-text: #f6e1a9
$a-active: #A45
$a-hover: rgb(7 0 81 / 80%)
$limegreen: limegreen
$div-bckgrd: rgb(19 18 30 / 80%)
$box-shadow-stein: 2px 2px rgb(74 32 126), -2px -2px rgb(126 220 74)
$deep-blue: #60a5fa
$golden: #ff8c00

// UTILITY
$radius-button: 0.6rem
$radius-panel: 0.5rem
$radius-image: 0.7rem

// TYPOGRAPHY
$font-size-base: 1rem
$font-size-p: 1.2rem
$font-size-h1: 2.2rem
$font-size-h2: 1.8rem
$font-size-h3: 1.5rem
$font-size-h4: 1.3rem
$font-size-nav-item: 2rem

$line-height-base: 1.6rem
$line-height-novel: 1.6

:where(h1)
  margin-block: 0.67em
  font-size: 2em
