@forward "@/assets/css/animations"
@forward "@/assets/css/layout"
@forward "@/assets/css/theme"
@forward "@/assets/css/unthinkme"
@forward "@/assets/css/vars"
@use "@/assets/css/vars" as *
@use "@/assets/css/layout"
@use "sass:map"

*, *:before, *:after
    box-sizing: border-box
    // transition: none !important
html, body
    margin: 0

// UTILITY
.pointer
    cursor: pointer
.hidden
    visibility: hidden
.text-center
    text-align: center
@mixin login-key($col)
    display: block
    position: relative 
    top: -0.7em
    color: $col
.color-logged-in
    @include login-key(#31e833)
.color-logged-out
    @include login-key(#da1a54)
.margin-bottom
    margin-block-end: 3rem
.padding-bottom
    padding-bottom: 3rem

button, a, router-link, RouterLink
    cursor: pointer

@mixin markdown-content
    p
        text-indent: 1.5em /* Indent first line */
        margin: 0
        line-height: 1.8em
        // text-size-adjust: 190% // font-size-adjust
        font-size: large

    h1, h2
        text-align: center

    @include layout.breakpoint(m)
    @media (max-width: 600px)
        .novel-container
            max-width: 95%
            padding: 15px
        .novel p
            text-indent: 1em


// === TYPOGRAPHY
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap")
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap")
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap")
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap')
// $material-icon-theme: 
@mixin font-family($font)
    @if $font == Roboto
        font-family: "Roboto", sans-serif
        font-optical-sizing: auto
        font-weight: 500
        font-style: normal
        font-variation-settings: "wdth" 100
    @else if $font == Lobster
        font-family: "Lobster", sans-serif
        font-weight: 400
        font-style: normal    
    @else if $font == Heading
        font-family: "Rubik", "Inter", sans-serif
        font-optical-sizing: auto
        font-weight: 600
        font-style: semi-bold
    @else
        font-family: 'Inter', 'Helvetica Neue', sans-serif
        font-optical-sizing: auto
        font-weight: 400
        font-style: normal

body
    @include font-family(Sans)
    font-size: $font-size-base

$base-font-styles: (
    p: (size: $font-size-p, weight: 400, line: 1.5),
    span: (size: $font-size-p, weight: 300),
    div: (size: $font-size-p, weight: 500),
    b: (size: $font-size-p, weight: 700),
)


    
@each $tag, $style in $base-font-styles
  #{$tag}
    @if map.has-key($style, line)
        line-height: map.get($style, line)
    @else
        line-height: $line-height-base
    font-size: map.get($style, size)
    font-weight: map.get($style, weight)


$heading-font-styles: (
    h1: (size: $font-size-h1, weight: 700),
    h2: (size: $font-size-h2, weight: 600),
    h3: (size: $font-size-h3, weight: 600),
    h4: (size: $font-size-h4, weight: 500),
)

@each $tag, $style in $heading-font-styles
    #{$tag}
        @include font-family(Heading)
        font-size: map.get($style, size)
        font-weight: map.get($style, weight)


.home-page
    text-align: center
    @include layout.breakpoint(m)
        text-align: justify

.social
    margin-inline: 0
    margin-block: 0.5rem

.social-grp
    a
        font-size: 0.7rem
    a:has(.social)
        .social
            max-width: 100%
            max-height: 2rem
            margin-inline: 0.3em
#style-selector
    .material-icons
        font-size: 1.4em
.sidebar-wrapper
    .christmas-icon
        font-size: 1.8rem
    *
        font-weight: 600
.home-navigation-card b
    font-size: $font-size-h3

// USE THIS FOR GOOD READING:
.article-font
    font-size: 20px
    letter-spacing: -0.003em
    line-height: 28px
    p
        max-width: 800px
        margin: 0 auto
        padding: 20px
/* Paragraph styling */
.novel p
    text-indent: 1.5em
    margin-bottom: 1em
/* Chapter titles */
.novel h1, .novel h2
    text-align: center
    margin: 20px 0
    font-weight: normal
/* Responsive adjustments */
@media (max-width: 600px)
    .novel-container
        max-width: 95%
        padding: 15px
    .novel p
        text-indent: 1em
body
    text-rendering: optimizeLegibility
#beacon-div
    margin: 3em
    text-align: justify
    p
        text-indent: 2em

// IMAGE INSERTS
.logo-frame
    max-width: 300px
    margin: 0 auto
    aspect-ratio: 1 / 1
    overflow: hidden
    border-radius: 1rem
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2)
    img
        cursor: pointer
        width: 100%
        height: 100%
        object-fit: cover
        display: block
    
