@use "@/assets/css/vars.sass" as *

#zen-wrapper
    .content-section
        grid-area: contentDiv
        // font-size: larger
        margin: auto
    .content
        // font-size-adjust: 0.7
        line-height: 1.2rem
        max-width: 700px
        text-align: justify
        h1, h2
          text-align: center
    .content-selector
        margin-top: 2em
        display: inline-flex
        flex-wrap: wrap

    .content-button
        cursor: pointer
        padding: 5px
        margin-block: 0.5em
    .content-button:hover
        color: teal

.holiday-flex
    display: flex
    flex-wrap: nowrap
    align-items: center
    justify-content: space-between
    @media screen and (min-width: 1000px)
        margin-inline: 15%
    h3
        color: #0F0
        text-wrap: nowrap
        text-align: left
        border-right: 1px solid #444
        padding-right: 1em
    p
        padding-left: 0.5em
        flex-wrap: wrap
        text-align: right
.holiday-title, .holiday-description
    text-align: center

.work-schedules
    margin: auto
    thead, tbody
        display: inline-flex

.zen-wrapper
    // font-family: HK Grotesk
    display: flex
    flex-direction: column
    padding: 20px 5px
    max-width: 100vw
    align-content: space-between
    padding: 2em 2em
    @media screen and (min-width: 700px)
        display: grid
        grid-template-columns: 1fr max-content
        grid-template-rows: auto
        grid-template-areas: "dayContainer titleLogo" "habitsDiv habitsDiv" "contentDiv contentDiv"
        #habits
            justify-content: center
    @media screen and (min-width: 1000px)
        grid-template-columns: max-content max-content 2fr
        grid-template-areas: "dayContainer titleLogo habitsDiv" "contentDiv contentDiv contentDiv"
        align-items: flex-start
    @media screen and (min-width: 1400px)
        grid-template-columns: 1fr 1fr 1fr

    h1
        font-size: 2.7rem
        margin-block-start: 1em
        margin-block-end: 0
    .selected
        background-color: $stein-purple
        // color: red
        list-style: none
        font-size: 1.3em
        color: $safe-light
    a:hover
        text-decoration: none

    
.title-logo
    grid-area: titleLogo
    // margin: 0 auto
    justify-content: start
    align-items: center
    // height: 100%
#habits
    // align-self: start
    grid-area: habitsDiv
.zenwheel
    grid-area: zenWheel
    svg
        max-width: 100%
        padding: 0.3em

.info-panel
    display: flex
    flex-direction: column
    position: fixed
    align-items: center
    z-index: 3
    bottom: 0
    right: 0
    color: $stein-lumenwhite
    background: rgba(11, 6, 14, 0.96)
    height: 100vh
    overflow-y: scroll
    .info-template
        width: 100vw
        padding-inline: 15%
        p
            text-align: left
            text-indent: 2em
        @media screen and (min-width: 1200px)
            padding-inline: 30%
        div:not(.holiday-flex)
            display: flex
            flex-direction: column

    h1
        margin: 1em 10%
        text-shadow: 1px 1px 10px black

.title-logo
    display: flex
    flex-direction: column
.holiday
    display: block
.smiley
    padding: 0.6em 0.4em
    border-radius: 6px
    width: max-content
    max-width: 90vw
    i
        border-radius: 10%
        padding-inline: 1em
        font-size: 1.8em
    
// TimeConversions
.conversion-table
    border-radius: 5px
    display: grid
    align-items: stretch
    margin: 0.4rem
    padding: 0.3em
    table		
        font-size: 1.0rem
        th
            padding: 0.5rem 0.8rem


// @keyframes tick-pulse
// 	0%
// 		transform: rotate(-90deg)
// 	to
// 		transform: rotate(270deg)
// .tick-pulse
// 	animation: tick-pulse 1s ease
// 	animation-iteration-count: infinite

.flex-me
    display: flex
#habits
    display: flex
    flex-direction: column
    max-width: 95vw
    padding: 0.2em
    cursor: pointer
    h2
        margin-block-start: 1.8em
        margin-block-end: 0.2em
.baheader
    text-align: center
    font-weight: 500
    height: 20px
    align-self: flex-end

.unchunk
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr
    grid-gap: 1px
    min-width: 300px
.uncell
    margin: 0
    height: 35px
    align-content: center
    padding: 0

.zenwheel 
    text
        cursor: pointer

.day-container
    grid-area: dayContainer
    margin-block-end: auto
    margin-block-start: 1.9em
    display: flex
    flex-direction: column
    max-width: 100vw
    padding: 0
    align-items: center
    border-radius: 5px
@mixin round-corner
    rx: 4px
    ry: 4px

.zen-borders
    @include round-corner


// ANIMATIONS
@keyframes woggle
    0%
        transform: scale(1)
    50%
        transform: scale(0.7)
    70%
        transform: scale(1.2)
    100%
        transform: scale(0)

.wiggle-enter-active
    animation: woggle 0.5s reverse
.wiggle-leave-active
    animation: woggle 0.5s ease

.phase-enter-from, .phase-leave-to
    opacity: 0
.phase-leave-from, .phase-enter-to
    opacity: 1
.phase-enter-active, .phase-leave-active
    transition: opacity 0.5s ease
